/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-Mar-2019, 9:17:04 PM
    Author     : mathieu
*/

.pane{
    -fx-background-color: #f7f5d7;
}

.tab{
    -fx-background-color: #f7f5d7;
}

.tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #22c3f3;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.media-view{
    -fx-stroke-width: 10;
    -fx-stroke-borders: green;
    -fx-background-fills: green;
}

.button_start{
    -fx-background-color: #90c84e;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button_start:pressed{
    -fx-background-color: #90c84e;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 ); 
}

.button_print{
    -fx-background-color: #22c3f3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button_print:pressed{
    -fx-background-color: #22c3f3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 ); 
}

.button_stop{
    -fx-background-color: #d6131c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button_stop:pressed{
    -fx-background-color: #d6131c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 ); 
}



.split-menu-button .label {
    -fx-text-fill: #22c3f3;
    -fx-background-color: white ;
    -fx-font-weight: bold;
}

.split-menu-button {
    -fx-text-fill: white ;
    -fx-background-color: #22c3f3;
}



.split-menu-button .arrow-button {
    -fx-text-fill: white ;
    -fx-background-color: #22c3f3;
}

.date-picker .text-field{
     -fx-text-fill: #22c3f3;
    -fx-background-color: white ;
}

.date-picker {
    -fx-background-color: #22c3f3;
}

.date-picker .arrow-button{
    -fx-background-color: #22c3f3;
}

.combo-box .list-cell 
{
    -fx-text-fill: white ;
    -fx-background-color: #22c3f3;
    -fx-font-weight: bold;
}

.combo-box .arrow-button 
{
    -fx-text-fill: white ;
    -fx-background-color: #22c3f3;
    -fx-font-weight: bold;
}